/* @font-face Styles */

/* latin-ext */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Slab Light'), local('RobotoSlab-Light'), url(https://fonts.gstatic.com/s/robotoslab/v7/BngRUXZYTXPIvIBgJJSb6u9mxLCIwR2oefDofMY.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Slab Light'), local('RobotoSlab-Light'), url(https://fonts.gstatic.com/s/robotoslab/v7/BngRUXZYTXPIvIBgJJSb6u9mxLCGwR2oefDo.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Slab Bold'), local('RobotoSlab-Bold'), url(https://fonts.gstatic.com/s/robotoslab/v7/BngRUXZYTXPIvIBgJJSb6u92w7CIwR2oefDofMY.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Slab Bold'), local('RobotoSlab-Bold'), url(https://fonts.gstatic.com/s/robotoslab/v7/BngRUXZYTXPIvIBgJJSb6u92w7CGwR2oefDo.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Work Sans Light'), local('WorkSans-Light'), url(https://fonts.gstatic.com/s/worksans/v3/QGYpz_wNahGAdqQ43Rh314L8lthNy_r-K7mV.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Work Sans Light'), local('WorkSans-Light'), url(https://fonts.gstatic.com/s/worksans/v3/QGYpz_wNahGAdqQ43Rh314L8mNhNy_r-Kw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Work Sans Bold'), local('WorkSans-Bold'), url(https://fonts.gstatic.com/s/worksans/v3/QGYpz_wNahGAdqQ43Rh3x4X8lthNy_r-K7mV.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Work Sans Bold'), local('WorkSans-Bold'), url(https://fonts.gstatic.com/s/worksans/v3/QGYpz_wNahGAdqQ43Rh3x4X8mNhNy_r-Kw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 900;
  src: local('Work Sans Black'), local('WorkSans-Black'), url(https://fonts.gstatic.com/s/worksans/v3/QGYpz_wNahGAdqQ43Rh3_4f8lthNy_r-K7mV.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 900;
  src: local('Work Sans Black'), local('WorkSans-Black'), url(https://fonts.gstatic.com/s/worksans/v3/QGYpz_wNahGAdqQ43Rh3_4f8mNhNy_r-Kw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* Universal CSS */

html {
  font-family: Roboto Slab;
  font-size: 16px;
}

body {
  margin: 0;
  width: 100%;
  background-color: #FFF;
}

p {
  color: #1D2731;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Work Sans";
  color: #0B3C5D;
}

h2 {
  font-size: 2rem;
  font-weight: 300;
}

a {
  text-decoration: none;
  color: #328CC1;
  font-weight: 900;
}

a:hover {
  color: #1D2731;
}

/* Header Section */

header {
  display: flex;
  align-items: center;
  z-index: 1;
  height: 4rem;
  background-color: #D5E3Ef;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 1.5rem;
}

.logo-text {
  margin-left: 1rem;
  font-size: 1.25rem;
  color: #24305E;
  font-family: "Work Sans";
}

.logo-regular {
  font-weight: 400;
}

.logo-bold{
  font-weight: 900;
}

.logo img {
  height: 2rem;
}

.desktop-nav {
  padding-right: 1.5rem;
}

.desktop-nav a{
  padding-left: 1rem;
  font-weight: 900;
  text-decoration: none;
  font-size: 1rem;
  color: #24305E;
}

.desktop-nav a:hover {
  color: #5288B5;
  transition: color 100ms ease-in;
}


#signin-button {
  padding: 0.5rem 1rem;
  background-color: #D2B34B;
  color: #FFF;
  font-weight: bold;
  align-content: center;
  margin-left: 1rem;
}

#signin-button:hover {
  background-color: #CE9346;
  transition: background-color 300ms ease-in;

}

/* Sections Styles */

section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2rem 1.5rem;
  align-items: flex-start;
}

.container-left {
  width: 60%;
}

.container-right {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 40%;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.section-title {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.item-right {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  border: 2px solid #D5E3Ef;
  background-color: #FFF;
  margin-bottom: 0.5rem;
}

.item-information{
  width: 65%;
  padding-left: 1rem;
}

.item-information a {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.75;
}

.item-information h5 {
  font-weight: 700;
  font-size: 1.25rem;
}

.image{
  width: 100%;
}

.image img {
  width: 100%;

}

.image-small {
  width: 35%;
}

.image-small img{
  width: 100%;

}

/* Learn Section Styles */

.learn {
  background-color: #D5E3Ef;
}

.cta {
  justify-content: center;
}

.cta h1{
  font-size: 4rem;
  font-family: "Work Sans";
  font-weight: 900;
  text-transform: uppercase;
  color: #5288B5;
}

.cta h3 {
  font-weight: 300;
  padding-bottom: 2.5rem;
  color: #24305E;
  font-family: 'Roboto Slab', serif;
}

.cta-button {
  width: 25%;
  padding: 0.75rem 2rem;
  background-color: #F76C6C;
  font-size: 1.25rem;
  font-weight: 400;
  color: #FFF;
  text-align: center;
}

.cta-button:hover{
  background-color: #EF4056;
  color: #FFF;
  transition: background-color 300ms ease-in;
}

/* Information Section Styles */

.information {
  background-color: #FFF;
}

.name {
  font-size: 0.75rem;
  color: #0B3C5D;
  font-style: italic;

}

.highlight-item {
  background-color: #E7F6FD;
}

/* Courses Section Styles */

.courses {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  background-color: #D5E3Ef;
  padding: 2rem 4.5rem 2rem 4.5rem;
}

.courses-items {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
}

.course {
  width: 30%;
  background-color: #FFF;
  margin-right: 2rem;
  margin-bottom: 2rem;
  border: 2px solid #D5E3Ef;
}

.course-image {
  width: 100%;
}

.course-image img {
  width: 100%;
}

.course-info {
  padding: 1rem 1rem 1.5rem 1rem;
}

.course-info h5 {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
}

.course-info h6 {
  font-family: "Roboto Slab";
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #F76C6C;
  margin: 0.5rem auto;
}

/* Thesis Section Styles */

.thesis {
  flex-direction: column;
  align-items: center;
}

.container-thesis {
  display: flex;
  flex-direction: row;
}

.video {
  width: 100%;
  height: auto;
}

.video video{
  width: 100%;
  height: auto;

}

/* Thesis Section Styles */

footer {
  display: flex;
  font-size: 0.75rem;
  background-color: #D2B34B;
}

.footer-content {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  width: 100%;
  justify-content: space-between;
}

.copyright {
  flex-grow: 1;
}

.copyright p{
  display: flex;
  align-items: center;
  padding-left: 1.5rem;
  color: #FFF;
}

.footer-links {
  padding-right: 1.5rem;
}

.footer-links a {
  font-weight: 400;
  color: #FFF;
  padding-left: 1rem;
}
