/* @font-face Styles */

/* latin-ext */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Slab Light'), local('RobotoSlab-Light'), url(https://fonts.gstatic.com/s/robotoslab/v7/BngRUXZYTXPIvIBgJJSb6u9mxLCIwR2oefDofMY.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Slab Light'), local('RobotoSlab-Light'), url(https://fonts.gstatic.com/s/robotoslab/v7/BngRUXZYTXPIvIBgJJSb6u9mxLCGwR2oefDo.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Slab Bold'), local('RobotoSlab-Bold'), url(https://fonts.gstatic.com/s/robotoslab/v7/BngRUXZYTXPIvIBgJJSb6u92w7CIwR2oefDofMY.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Slab Bold'), local('RobotoSlab-Bold'), url(https://fonts.gstatic.com/s/robotoslab/v7/BngRUXZYTXPIvIBgJJSb6u92w7CGwR2oefDo.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Work Sans Light'), local('WorkSans-Light'), url(https://fonts.gstatic.com/s/worksans/v3/QGYpz_wNahGAdqQ43Rh314L8lthNy_r-K7mV.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Work Sans Light'), local('WorkSans-Light'), url(https://fonts.gstatic.com/s/worksans/v3/QGYpz_wNahGAdqQ43Rh314L8mNhNy_r-Kw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 500;
  src: local('Work Sans Medium'), local('WorkSans-Medium'), url(https://fonts.gstatic.com/s/worksans/v3/QGYpz_wNahGAdqQ43Rh3j4P8lthNy_r-K7mV.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 500;
  src: local('Work Sans Medium'), local('WorkSans-Medium'), url(https://fonts.gstatic.com/s/worksans/v3/QGYpz_wNahGAdqQ43Rh3j4P8mNhNy_r-Kw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 900;
  src: local('Work Sans Black'), local('WorkSans-Black'), url(https://fonts.gstatic.com/s/worksans/v3/QGYpz_wNahGAdqQ43Rh3_4f8lthNy_r-K7mV.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 900;
  src: local('Work Sans Black'), local('WorkSans-Black'), url(https://fonts.gstatic.com/s/worksans/v3/QGYpz_wNahGAdqQ43Rh3_4f8mNhNy_r-Kw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* Universal CSS */

html {
  font-family: Roboto Slab;
  font-size: 16px;
}

body {
  margin: 0;
  width: 100%;
  background-color: #FFF;
}

p {
  color: #1D2731;
  line-height: 1.6rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Work Sans";
  color: #24305E;
}

h2 {
  font-size: 2rem;
  font-weight: 300;
}

h4 {
  font-size: 1.5rem;
  font-weight: 500;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}

a {
  text-decoration: none;
  color: #328CC1;
  font-weight: 900;
}

a:hover {
  color: #1D2731;
}

/* Header Section */

header {
  display: flex;
  align-items: center;
  z-index: 1;
  width: 100%;
  height: 4rem;
  background-color: #D5E3Ef;
}

.desktop-nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.mobile-nav {
  display: none;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-text {
  margin-left: 1rem;
  font-size: 1.25rem;
  color: #24305E;
  font-family: "Work Sans";
}

.logo-regular {
  font-weight: 400;
}

.logo-bold{
  font-weight: 900;
}

.logo img {
  height: 2rem;
}

.desktop-navlinks a{
  font-family: 'Roboto Slab' sans-serif;
  padding-left: 1rem;
  font-weight: 700;
  text-decoration: none;
  font-size: 1rem;
  color: #24305E;
}

.desktop-navlinks a:hover {
  color: #5288B5;
  transition: color 100ms ease-in;
}

#signin-button {
  padding: 0.5rem 1rem;
  background-color: #D2B34B;
  color: #FFF;
  font-weight: 700;
  align-content: center;
  margin-left: 1rem;
  border-radius: 0.25rem;
}

#signin-button:hover {
  background-color: #CE9346;
  border-radius: 1.5rem;
  transition: all 0.3s ease 0s;
}

@media only screen and (max-width: 750px) {
  .desktop-nav {
    display: none;
  }

  .mobile-nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

/* Sections Styles */

section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2rem 1.5rem;
  align-items: flex-start;
}

.container-left {
  width: 60%;
}

.container-right {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 40%;
  padding-left: 2rem;
  padding-right: 1.5rem;
}

.section-title {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.section-title h2 {
  font-size: 2.5rem;
  color: #5288B5;
}

.main-item h2 {
  padding-top: 2rem;
}

.main-item p {
  padding: 1.5rem 0 1.5rem 0;
}

.item-right {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  border: 2px solid #D5E3Ef;
  background-color: #FFF;
  margin-bottom: 0.5rem;
}

.item-information{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 65%;
  padding-left: 1rem;
}

.item-information h5 {
  font-weight: 500;
  font-size: 1.25rem;
}

.item-information p {
  padding: 0.75rem 0 0.75rem 0;
  font-size: 0.75;
}

.item-information a {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 0.75;
}

.image{
  width: 100%;
}

.image img {
  width: 100%;

}

.image-small {
  width: 35%;
}

.image-small img{
  width: 100%;

}

@media only screen and (max-width: 750px) {
  .container {
    padding: 0;
  }
}

/* Learn Section Styles */

.learn {
  background-color: #D5E3Ef;
  align-items: center;
}

.cta {
  justify-content: center;
}

.cta h1{
  font-size: 3rem;
  font-family: "Work Sans";
  font-weight: 900;
  text-transform: uppercase;
  color: #5288B5;
}

.cta h3 {
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 2rem;
  padding: 2rem 2rem 2rem 0;
  color: #24305E;
  font-family: 'Roboto Slab', serif;
}

.cta-button {
  padding: 0.75rem 2rem;
  background-color: #F76C6C;
  font-size: 1.25rem;
  font-weight: 400;
  color: #FFF;
  text-align: center;
  border-radius: 0.25rem;
  width: 75%
}

.cta-button:hover{
  background-color: #EF4056;
  color: #FFF;
  border-radius: 2rem;
  transition: all 0.3s ease 0s;
}

@media only screen and (max-width: 970px) {
  .cta h1 {
    font-size: 2rem;
  }
  .cta h3 {
    padding: 1rem 1rem 1rem 0;
  }
}

@media only screen and (max-width: 750px) {
  .cta h1 {
    font-size: 2rem;
  }
  .cta h3 {
    padding: 1rem 1rem 1rem 0;
  }
  .cta-button {
    width: 50%
  }
  .container.learn {
    display: flex;
    flex-direction: column;
    padding: 0;
  }
  .container-left {
    width: 100%;
  }
  .container-right.cta {
    width: 100%;
    padding: 1rem;
  }
}


/* Information Section Styles */

.information {
  background-color: #FFF;
}

.name {
  font-size: 0.75rem;
  color: #24305E;
  font-style: italic;
}

.highlight-item {
  background-color: #E7F6FD;
}

@media only screen and (max-width: 750px) {
  .container-left.main-item {
    display: none;
  }
  .container-right {
    width: 100%;
    padding: 1rem 1rem 2rem 1rem;
  }
}

/* Courses Section Styles */

.courses {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  background-color: #D5E3Ef;
  padding: 2rem 4.5rem 2rem 4.5rem;
}

.courses-items {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
}

.courses-items-mobile {
  display: none;
}

.course {
  width: 30%;
  background-color: #FFF;
  margin-right: 1.5rem;
  margin-bottom: 2rem;
  border: 2px solid #D5E3Ef;
}

.course-image {
  width: 100%;
}

.course-image img {
  width: 100%;
}

.course-info {
  padding: 1rem 1rem 1.5rem 1rem;
}

.course-info h5 {
  font-size: 1.5rem;
  font-weight: 500;
}

.course-info h6 {
  font-family: "Roboto Slab";
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #F76C6C;
  padding: 1rem 0;
}

@media only screen and (max-width: 980px) {
  .course {
    width: 45%;
}

@media only screen and (max-width: 750px) {
  .courses {
    padding: 2rem 1rem;
  }

  .courses-items {
    display: none;
  }

  .courses-items-mobile {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .course-mobile {
    display: flex;
    width: 100%
    align-content: center;
    background-color: #FFF;
    padding: 1.25rem;
    margin-bottom: 0.5rem;
  }
}


/* Thesis Section Styles */

.thesis {
  flex-direction: column;
  align-items: center;
}

.container-thesis {
  display: flex;
  flex-direction: row;
}

.video {
  width: 100%;
  height: auto;
}

.video video{
  width: 100%;
  height: auto;

}

@media only screen and (max-width: 750px) {
  .container.thesis {
    padding: 2rem 0 1.5rem 0;

  }
  .container-left.thesis-video {
    width: 100%;
  }
  .container-left.thesis-video h2{

  }
  .container-right.thesis-items {
    display: none;
  }
  .video-information {
    display: none;
  }
}

/* Footer Section Styles */

footer {
  display: flex;
  font-size: 0.75rem;
  background-color: #D2B34B;
}

.footer-content {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  width: 100%;
  justify-content: space-between;
  padding: 1rem 1.5rem;
}

.copyright p{
  display: flex;
  align-items: center;
  color: #FFF;
}

.footer-links a {
  font-weight: 400;
  color: #FFF;
  padding-left: 1rem;
}

@media only screen and (max-width: 750px) {
  .footer-content {
    justify-content: center;
  }
  .footer-links {
    display: none;
  }
}
